.build*

*.ada
*.gen
*.html
*.images
*.log
*.norm
*.norm-stamp
*.tuml-norm-stamp

Stub_Test_Interface.stub
Unit_Testing.unit

event_test-harness
hierarchies-harness
initialization-harness
regression_tests
stub_test_harness
unit_testing-harness