# for MCU examples
*.map

*.norm
*.gen
*.html
*.images
*.ada
*.norm-stamp

gpr_query*

house_management-scripting
interrupt_handling-harness
library_test_harness
performance-harness
problem_reporting_harness
simple_buttons-scripting
stairwell_demo
states-t
van_fleet-demo
